<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Asilo-nido.net</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <form class="navbar-form navbar-left" role="search" ng-submit="doSearch()">
            <div class="form-group">
              <input id="pac-input" class="form-control" placeholder="Search" ng-model="search"
              type="text">
            </div>
            <button class="btn btn-default" ng-click="onQueryChange()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>
        </div>
      </div>

    <div class="container-fluid">
    
    <div id="map-popup" class="bgform popover fade in">
      <img width="640" height="480" src="{{popupCard.image}}" class="img-responsive">
      <div class="caption">
        <h5>
          <a ng-href="#!/asilo/{{encodeName(popupCard.name)}}/{{popupCard.id}}"
          class="color1">{{popupCard.name}}</a>
        </h5>
        <p>{{popupCard.address}}</p>
      </div>
    </div>

    
    <div class="col col-sm-7" style="height: 100%; overflow-y:scroll">
      <!--<div class="row" style="position:fixed;z-index:1000;background-color:#ad68ab;width:57%;">
        <div class="col col-xs-5">
          <h4>
            <br>
            <br>
          </h4>
        </div>
        <div class="col col-xs-7 text-right">
          <div class="btn-group">
            <a class="btn btn-default color3" ng-click="openContactModal()">Contatta i {{visibleMarkers.length}} asili trovati</a>
          </div>
        </div>
      </div>-->
      <div class="row" ng-if="!showFilter">
        <div class="btn-group">
           <label class="btn" ng-repeat="(k,v) in filtersFirst">
              <input class="" type="checkbox" value="1"  ng-checked="v.checked" name="" ng-click="setFirstFilter(k, $event)"> {{k}}
          </label>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="btn-group">
           <label class="btn" ng-repeat="(k,v) in filtersSecond">
              <input class="" type="checkbox" value="1" ng-checked="v.checked" name="" ng-click="setSecondFilter(k, $event)"> {{k}}
          </label>
        </div>
        <label class="btn pull-right">
              <input class="" type="checkbox" value="1"  ng-checked="v.checked" name="" ng-click="moreFilters()"> Più filtri
          </label>
            
        </a>
      </div>
      <div class="row" ng-if="showFilter" >
        Kind 
        <div class="btn-group">
           <label class="btn" ng-repeat="(k,v) in filtersFirst">
              <input class="" type="checkbox" value="1"  ng-checked="v.checked" name="" ng-click="setFirstFilter(k, $event)"> {{k}}
          </label>
        </div>
        <br>
        Kind 2 
        <div class="btn-group">
           <label class="btn" ng-repeat="(k,v) in filtersSecond">
              <input class="" type="checkbox" value="1" ng-checked="v.checked" name="" ng-click="setSecondFilter(k, $event)"> {{k}}
          </label>
        </div>
        <br>
        <ul>
          <li ng-repeat="(k,v) in filtersThird">{{k}}</li>
        </ul>
        <br>
        <a class="btn">Applica</a>
      </div>
      <div class="row " style="padding-top: 60px;">
        <div ng-if="visibleMarkers.length == 0">
          <p>Nessun risultato trovato.
            <a ng-click="zoomOut()">Clicca qui</a>per ampliare la zona di ricerca.</p>
        </div>
        <div class="col col-sm-6 col-md-4" ng-repeat="card in searchResults | orderBy:'title' | filter : filter">
          <div class="thumbnail" style="min-height:340px;" ng-mouseover="highlightMarker(card)" ng-mouseleave="unhighlightMarker(card)">
            <img style="max-height:120px;" ng-src="{{card.image}}" class="img-responsive">
            <div class="caption">
              <h4>{{card.name}}</h4>
              <p>{{card.address}}</p>
              <ul class="list-unstyled">
                <b>{{card.properties.tipo}}</b>
              </ul>
              <a href="#/card/{{card.key}}" ng-class="{'disabled': card.disabled}"
              class="btn btn-block btn-primary color3" draggable="true">Maggiori informazioni</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- <ul class="pager">
            <li ng-class="{'disabled': page == 1}">
              <a href="#" ng-click="previousPage()" >←  Prec</a>
            </li>
            <li>
              <a href="#" ng-click="nextPage()">Succ  →</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="col col-sm-5 hidden-xs">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" draggable="true">
        <ui-gmap-marker
          ng-repeat="m in searchResults | filter : filter"
          idKey='m.key'
          coords='m.location'
          options='m.options'
          click="clickMarker(m)"
        >
      </ui-gmap-marker>

        </marker>
      </ui-gmap-google-map>
    </div>

    </div>